<waterfall-layout>
    <!-- Bottom row, not visible on scroll -->
    <div class="fm-layout-header-content">
        <!-- Bottom row, not visible on scroll -->
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link">Plants</a>
                <a class="mdl-navigation__link">Animals</a>
                <a class="mdl-navigation__link">Strategy</a>
            </nav>
        </div>
    </div>
    <div class="fm-layout-content">
        <bar-chart></bar-chart>
        <bar-chart></bar-chart>
        <bar-chart></bar-chart>
        <bar-chart></bar-chart>
        <bar-chart></bar-chart>
        <bar-chart></bar-chart>
        <bar-chart></bar-chart>
        <bar-chart></bar-chart>
        <bar-chart></bar-chart>
        <bar-chart></bar-chart>
        <bar-chart></bar-chart>
        <bar-chart></bar-chart>
        <bar-chart></bar-chart>
    </div>
</waterfall-layout>